URL: https://www.youtube.com/watch?v=Xz0jXZABBWY

# STEPS

1. Find Url
2. Inspecting Page
3. Find data you want to extract
4. Code
5. Execute cpde
6. Store the data

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Reuesust -Python http call lib 

BeautifulSoup - used for making a data to some format i.e. as required

In [ ]:
url = 'https://www.flipkart.com/search?q=laptop&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'

In [ ]:
response = requests.get(url)
print(response)
#print(reponse.content)

htmlContent = response.content

<Response [200]>

In [ ]:
soup = BeautifulSoup(htmlContent, "html.parser")

print(soup.pretify)

None

In [ ]:
products = []
prices= []
reviews = []

product = soup.find('div', attrs = {'class':'_4rR01T'})
print(product.text)

HP 15s Athlon Dual Core - (4 GB/1 TB HDD/Windows 10 Home) 15s-GY0001AU Thin and Light Laptop

In [ ]:
for i in soup.find_all('a', href = True, attrs = {'class': '_1fQZEK'}):
  try:
    product = i.find('div', attrs = {'class':'_4rR01T'})
    price = i.find('div', attrs = {'class': '_30jeq3 _1_WHN1'})
    rating = i.find('div', attrs = {'class':'_3LWZlK'})
    products.append(product.text)
    prices.append(price.text)
    reviews.append(rating.text)
  except:
    reviews.append(None)
    print('Exception')


print(len(products))

print(len(prices))
print(len(reviews))

Exception
24
24
24

#Store Result in a required format

In [ ]:
df = pd.DataFrame({'Product Name': products, 'Prices': prices, 'Reviews': reviews})

In [ ]:
df.head()

                                        Product Name   Prices Reviews
0  HP 15s Athlon Dual Core - (4 GB/1 TB HDD/Windo...  ₹27,490     4.1
1  HP 14s Core i3 11th Gen - (8 GB/256 GB SSD/Win...  ₹41,990     4.6
2  HP Pavilion Gaming Ryzen 5 Quad Core 3550H - (...  ₹50,990     4.2
3  ASUS VivoBook 15 Core i3 10th Gen - (8 GB/1 TB...  ₹37,990     4.1
4  acer Aspire 7 Ryzen 5 Quad Core 3550H - (8 GB/...  ₹50,990     4.5

In [ ]:
df.to_csv('Laptops.csv')