***Name: SADDAM HUSSAIN***

***REG ID: GO_STP_6834***


---

Q.1 Write a Python Program to sort (ascending and descending) a dictionary by value.

In [46]:
dict = {
  "name": "Arya",
  "univer": "MIT",
  "Course": "DS"
}

#Ascending
sortedData = sorted(dict.values(), reverse=False)
sd = {}

for i in sortedData:
  for k in dict.keys():
    if dict[k] == i:
      sd[k] = dict[k]

print("In Ascending Order: ",sd)

#Descending
sDDec = sorted(dict.values(), reverse=True)
sdDecData = {}

for i in sDDec:
  for k in dict.keys():
    if dict[k] == i:
      sdDecData[k] = dict[k]

print("\nIn Descending Order: ", sdDecData)

In Ascending Order:  {'name': 'Arya', 'Course': 'DS', 'univer': 'MIT'}

In Descending Order:  {'univer': 'MIT', 'Course': 'DS', 'name': 'Arya'}

Q.2 Write a Python Program to add a key to a dictionary. 

Sample Dictionary : {0: 10, 1: 20}

Expected Result : {0: 10, 1: 20, 2: 30}

In [21]:
d1 = {0: 10, 1: 20}
d1[2] = 30
print(d1)

{0: 10, 1: 20, 2: 30}

Q.3 Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City

In [25]:
data = {}
city = input("Enter city name: ")
temp = int(input("Enter city temp: "))

data[city] =temp

cityQuery = input("Enter city name for which u need data: ")
print(data[cityQuery])

Enter city name: Bangalore
Enter city temp: 23
Enter city name for which u need data: Bangalore
23

Q. 4 Write a Python program to convert list to list of dictionaries.

Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]

Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [33]:
color_name_list = ["Black", "Red", "Maroon", "Yellow"]
color_code_list = ["#000000", "#FF0000", "#800000", "#FFFF00"]

color_list = []
for i in range(len(color_name_list)):
  color_dict = {}
  color_dict["color_name"] = color_name_list[i]
  color_dict["color_code"] = color_code_list[i]
  color_list.append(color_dict)

print(color_list)

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

 Q. 5 We have following information on Employees and their Salary (Salary is in lakhs)

Using above create a dictionary of Employees and their Salary

Write a program that asks user for three type of inputs,

print: if user enter print then it should print all Employees with their Salary in this format,

John ==>14
Smith ==>13
Alice ==>32
Daneil ==>21

add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it

remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist!

query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee.

In [56]:
empData = {"John":14,"Smith":13, "Alice":32, "Daniel": 21}

print(''' Please select your option from below option
          1 Print
          2 Add
          3 Remove
          4 Query''')
userEntry = input("Please select youur options: ")
count = 1
if userEntry.lower() == "print":
  for k,v in empData.items():
    print(count, k, "==>", v)
    count += 1

elif userEntry.lower() == "add":
  empName = input("Please enter the emp name to be added: ")
  if empName in empData.keys():
    print("Employee already exists")
  else:
    empSalary = int(input("Please enter emp Salary: "))
    empData[empName] = empSalary
    print(empData)

elif userEntry.lower() == "remove":
  empName = input("Please enter the emp name to be removed: ")
  if empName in empData.keys():
    empData.pop(empName)
    for k,v in empData.items():
      print(count, k, "==>", v)
      count += 1

  else:
    print("Employee doesn't exists")

elif userEntry.lower() == "query":
  empName = input("Please enter the emp name to be removed: ")
  print("Salary of",empName, "is", empData[empName])

else:
  print("Incorrect Entry")

 Please select your option from below option
          1 Print
          2 Add
          3 Remove
          4 Query
Please select youur options: remove
Please enter the emp name to be removed: John
1 Smith ==> 13
2 Alice ==> 32
3 Daniel ==> 21

Set - sets are unordered, and does not allow duplicate values, can be used when we don't want any duplicate values for the variable.

Frozenset - can be used to covert the variable to immutable or unchangeable.

# Questions on Sets-

 Q.1 What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname).

In [58]:
setData = {"One","Two","Three"}
newData = frozenset(setData)

Q.2 Find the elements in a given set that are not in another set

set1 = {10,20,30,40,50}

set2 = {40,50,60,70,80}

Difference between set1 and set2 is {10,20,30}

In [60]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}

#dif = set1-set2
dif = set1.difference(set2)
print(dif)

{10, 20, 30}